[user]
	name = Prakash Rao Vaddina
	email = Prakash-Rao.Vaddina@rohde-schwarz.com
[push]
	default = simple
[core]
	autocrlf = input
	safecrlf = false
	editor = vi
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = cyan
	untracked = red
[http]
	proxy = http://vaddina@proxy-emea.rsint.net:80
[credential]
	helper = cache --timeout=8553600
[diff]
	tool = gvimdiff
	guitool = kdiff3
[difftool "gvimdiff"]
	cmd = /usr/bin/gvim -c 'set columns=200' -c 'wincmd =' -d$LOCAL$REMOTE
[difftool]
	prompt = false
[merge]
	tool = /usr/bin/gvim
[alias]
	d = difftool
	mdbc = config --global diff.tool bc
	mdgvim = config --global diff.tool gvimdiff
	mmbc = config --global merge.tool bc
	cb = clone https://code.rsint.net/MRT-SCM-BASE/mrt.base.fsw.git
	lg = log --color --graph --pretty=format:'%Cred%h%Creset %C(bold blue)%<(25) %an%Creset %Cgreen%<(16)%cr%Creset %C(yellow)%d%Creset %<(100,trunc)%s' --abbrev-commit
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
